.sectionContainer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #203020;
    color: #fafafa;
}

.ocultar {
    display: none;
}