.timeContainer {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeContainer > h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.clock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clock section {
    text-align: center;
}

.clock > section p {
    font-size: 2.6rem;
    margin: 0.2rem 0;
}

.clock > span {
    font-size: 2.6rem;
}

.clock > section > p:nth-child(even) {
    font-size: 1rem;
}